.clip-ellipse {
  clip-path: ellipse(100px 100px at 35vw 35vh);
   /* filter: blur(4px);*/
  /* OLD VALUE example: ellipse(245px, 80px, 75px, 30px); */
}

p {
  font-size: 25px;
  color: #214d9a;
}
p:visited {
  color: #f9d923;
  filter: blur(4px);
}
p:hover {
  color: #c95652;
  font-size:150%;
}
p:active {
  color: coral;
}